@import '../variables.scss';
$page-name-margin: 0 1rem;

.section-1{
    .head{
        margin-top: 1rem;

        select{
            width: 9rem;
        }
        .search{
            margin-left: 1rem;
        }
    }

}
