@import '../variables.scss';
$page-name-margin: 0 1rem;

.section-1{
    background-color: $default-font-color-black;
    color: #eaeaea;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: .5rem $default-side-padding-lg;

    img{
        width: 50px;
        height: 50px;
    }
    h1{
        margin: 0;
    }
    a{
        color: white;
        text-decoration: none;
    }
    .page{
        font-size: 1rem;
        margin: $page-name-margin;
    }
}
