@import '../variables.scss';
$page-name-margin: 0 .5rem 0;

.header{
  background-color: $default-font-color-black;
  color: #eaeaea;
  //padding: 0 $default-side-padding-lg;
  height: 3.5rem;

  .container{
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }
  a{
    color: white;
    background-color: inherit;
  }

  .title{
    height: 100%;

    img{
      width: 50px;
      height: 50px;
    }
    h1{
      margin: 0;
      font-size: 1.8rem;

      @media (max-width: $sm) {
        font-size: 1rem;
      }
    }
  }




  .btn-page{
    font-size: 1rem;
    height: 100%;

    &:hover{
      background-color: $primary-color;
    }
  }
  .btn{
    background-color: inherit;
    color: white;
    height: 100%;
    border-radius: 0;

    &:hover{
      background-color: #404e5c;
    }
  }
}
