html, body {
    margin: 0;
    padding: 0;
}

.App {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
}
.App-footer{
    background-color: #222;
    padding: 8px;
    text-align: start;
    font-size: small;
    display: flex;
    align-items: center;
}
.App-footer p, .App-footer a{
    margin-right: 8px;
    color: white;
    text-decoration: none;
}
.App-footer a:hover{
    color: cadetblue;
}



