@import 'variables.scss';
$input-padding: .25rem $default-padding;

html{
  margin: 0;
  padding: 0;
  font-size: 16px;

  @media (max-width: 576px) {
    font-size: 14px;
  }

  body{
      margin: 0;
      padding: 0;
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    #root{
      flex: 1;
    }
  }
}

input{
  border: $border-default;
  border-radius: $border-radius-default;
  margin-bottom: .5rem;
  padding: $input-padding;
}

.content{
    padding: .5rem $default-side-padding-lg;
}

footer{
    background-color: #222;
    //padding: .5rem;
    padding: $default-padding;
    text-align: start;
    font-size: small;
    display: flex;
    align-items: center;
    p, a{
        margin-right: 8px;
        color: white;
        text-decoration: none;
    }
    a:hover{
        color: cadetblue;
    }
}

a, a:hover{
  text-decoration: none;
}


