//colors
$primary-color: #404e5c;
$default-font-color-black: #222222;
$default-font-color-black: #222222;
$default-font-color-white: #eaeaea;
$weldon-blue: #779cab;
$white: #ffffff;

//screen size
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;

$default-padding: .5rem;
$default-side-padding-lg: 10rem;

$border-default: 1px solid #b7b7b7;
$border-radius-round: 100%;
$border-radius-default: 5px;

$default-shadow: 0 1px 5px rgba(0,0,0,0.2);
$default-shadow-hover: 0 1px 6px rgba(0,0,0,0.5);

