@import '../variables.scss';
$header-p-margin: 0;
$input-margin: 0 0 .5rem;

.login-page{
  height: 100%;
  flex:1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  .header{
    background-color: inherit;
    color: $default-font-color-black;
    padding: 7rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: initial;

    p{
      font-size: 2rem;
      margin: $header-p-margin;
    }
    img{
      width: 9rem;
      height: 9rem;
    }
  }

  .form{
    padding-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



    a{
      text-decoration: none;
      padding: .25rem .5rem;
      color: $white;
      border-radius: $border-radius-default;
      background-color: $weldon-blue;
      box-shadow: $default-shadow;

      &:hover{
        box-shadow: $default-shadow-hover;
      }
    }
  }
}